*{
margin:0px;

}
.header{
width:100%;
height:10%;
background-color:#58807C;
}
.h1{
color:white;
margin-left:300px;
}
.footer{
width:100%;
height:10%;
background-color:#58807C;


}
.body{
background-image:url(ap.gif);

}
.nav :hover{
color:pink;

}
#border{
border:1px solid#000000;


}
.links{

font-size:15px;


}



.links a{

text-decoration:none;
margin-left:7%;
color:white;


}
.links a:hover{
background-color:white;
text-decoration:none;
color:black;
}
#hook{
	background-color:#001D3C;
        height:30%;
}
	
	
.img{
	height:300px;
	
	
}
#to{

color:white;
margin-top:-300px;
}
#to:hover{
color:#00BDE7;

}
#too{

color:white;
margin-top:-px;
}
#too:hover{
color:#00BDE7;

}
#lia{
background-color:#001D3C;
height:5%;
margin-top:-22px;


}
