#aa{
background-color:#FCE4B4;
font-size:15px;
width:70%;


}
#gp{
height:120px;
width:150px;
margin-left:10px;
}
#ab{
background-image:url(tablet.jpg);
background-size:100%;
background-repeat:no-repeat;

}
#ac{
font-size:30px;


}

#ad{

font-size:15px;
}
#hook{
	background-color:#141414;
        height:30%;
}
	
	
.img{
	height:300px;
	
	
}
#to{

color:white;
margin-top:-250px;
}
#to:hover{
color:#00BDE7;

}
#too{

color:white;
margin-top:-px;
}
#too:hover{
color:#00BDE7;

}
#footer{
border-radius:10px 10px 10px 10px;
border:1px solid#F0F0F0;
font-size:15px;

}
#lia{
background-color:#141414;
height:5%;
margin-top:-22px;


}
.links{

font-size:15px;


}



.links a{

text-decoration:none;
margin-left:7%;
color:white;


}
.links a:hover{
background-color:white;
text-decoration:none;
color:black;
}
.place{
background-color:transparent;
width:70%;
margin-top:55px;


}
#lik{
color:#860C09;

}
#hea{
background-color:#EBD2B4;


}
